Repository mozilla-releng/scriptworker-scripts, pull requests merged in 2023-10, with the labels that each got.

#855 [signingscript] Remove old scopes from SCOPES.md
  signingscript/SCOPES.md
Labels: signingscript

#853 Bug 1853416 - [treescript] Split hg and git logic apart, r?#releng-re…
  treescript/src/treescript/gecko/__init__.py
  treescript/src/treescript/gecko/l10n.py
  treescript/src/treescript/gecko/mercurial.py
  treescript/src/treescript/gecko/merges.py
  treescript/src/treescript/gecko/versionmanip.py
  treescript/src/treescript/github/__init__.py
  treescript/src/treescript/github/git.py
  treescript/src/treescript/github/versionmanip.py
  treescript/src/treescript/script.py
  treescript/src/treescript/util/task.py
  treescript/tests/conftest.py
  treescript/tests/test_gecko.py
  treescript/tests/test_gecko_l10n.py
  treescript/tests/test_gecko_mercurial.py
  treescript/tests/test_gecko_merges.py
  treescript/tests/test_gecko_versionmanip.py
  treescript/tests/test_github_git.py
  treescript/tests/test_github_versionmanip.py
  treescript/tests/test_script.py
  treescript/tests/test_util_task.py
Labels: treescript

#858 pushapkscript: pin older pyOpenSSL
  pushapkscript/requirements/base.in
  pushapkscript/requirements/base.py38.txt
  pushapkscript/requirements/base.txt
Labels: bug, pushapkscript
