Repository mozilla-releng/scriptworker-scripts, pull requests merged in 2023-11, with the labels that each got.

#762 Bug 1822689 - Modify pushflatpakscript to allow for …
  pushflatpakscript/docker.d/init_worker.sh
  pushflatpakscript/docker.d/worker.yml
  pushflatpakscript/examples/config.example.json
  pushflatpakscript/src/pushflatpakscript/data/config_schema.json
  pushflatpakscript/src/pushflatpakscript/flathub.py
  pushflatpakscript/src/pushflatpakscript/task.py
  pushflatpakscript/tests/test_config.py
  pushflatpakscript/tests/test_task.py
  tests/test_init.py
Labels: pushflatpakscript

#873 Bug 1864958 - Archive mozilla-beta .deb packages
  beetmoverscript/src/beetmoverscript/gcloud.py
Labels: beetmoverscript

#878 Fix busted devedition beetmover-apt tasks
  beetmoverscript/docker.d/worker.yml
Labels: bug

#876 beetmover: bump termination grace period to 30min (bug 1865643)
  docker.d/pre-stop.sh
Labels: beetmoverscript

#871 bouncerscript: don't require successive nightly versions outside of prod
  bouncerscript/docker.d/worker.yml
  bouncerscript/examples/config.example.json
  bouncerscript/src/bouncerscript/constants.py
  bouncerscript/src/bouncerscript/data/config_schema.json
  bouncerscript/src/bouncerscript/script.py
  bouncerscript/tests/fake_config.json
  bouncerscript/tests/test_script.py
  bouncerscript/tests/test_task.py
  bouncerscript/tox.ini
Labels: bouncerscript
