Repository mozilla-releng/scriptworker-scripts, pull requests merged in 2023-03, with the labels that each got.

#688 Bug 1806899 - [signingscript] use safe_extract for one more tar extraction
  signingscript/src/signingscript/sign.py
Labels: signingscript

#681 [signingscript] Add apple notarization support
  signingscript/Dockerfile
  signingscript/docker.d/apple_notarization_creds.yml
  signingscript/docker.d/build_msix_packaging.sh
  signingscript/docker.d/init_worker.sh
  signingscript/docker.d/worker.yml
  signingscript/src/signingscript/script.py
  signingscript/src/signingscript/sign.py
  signingscript/src/signingscript/task.py
  signingscript/src/signingscript/utils.py
  signingscript/tests/conftest.py
  signingscript/tests/data/appletest.tar.gz
  signingscript/tests/example_apple_notarization_config.json
  signingscript/tests/test_config.py
  signingscript/tests/test_dockerd.py
  signingscript/tests/test_script.py
  signingscript/tests/test_sign.py
Labels: signingscript

#675 addonscript: switch to v5 addon submission API (RELENG-935)
  addonscript/src/addonscript/api.py
  addonscript/src/addonscript/script.py
  addonscript/src/addonscript/utils.py
  addonscript/src/addonscript/xpi.py
  addonscript/tests/test_api.py
  addonscript/tests/test_script.py
Labels: addonscript

#696 Bug 1817466 - [pushapkscript] Remove unused pem files, configs for unused apps and aliases
  pushapkscript/docker.d/init_worker.sh
  pushapkscript/docker.d/worker.yml
  pushapkscript/files/dep.pem
  pushapkscript/files/fenix_production.pem
  pushapkscript/files/nightly.pem
  pushapkscript/files/release.pem
Labels: pushapkscript
