Repository mozilla-releng/scriptworker-scripts, pull requests merged in 2024-06, with the labels that each got.

#1005 feat(shipitscript): Update shipitscript to support tasks that update the firefox nightly version in shipit (if necessary.)
  shipitscript/docker.d/init_worker.sh
  shipitscript/docker.d/worker.yml
  shipitscript/src/shipitscript/data/update_product_channel_version_schema.json
  shipitscript/src/shipitscript/script.py
  shipitscript/src/shipitscript/ship_actions.py
  shipitscript/src/shipitscript/shipitapi.py
  shipitscript/src/shipitscript/task.py
  shipitscript/tests/test_config.py
Labels: enhancement, shipitscript

#1033 Bug 1882556 - Remove .deb hacks to upload ESR .deb packages to the archive
  beetmoverscript/src/beetmoverscript/constants.py
  beetmoverscript/src/beetmoverscript/gcloud.py
Labels: beetmoverscript

#1035 Bug 1904738 - "hg add" new android-l10n files
  treescript/src/treescript/gecko/android_l10n.py
  treescript/tests/test_gecko_android_l10n.py
Labels: treescript

#1036 Bug 1904738 - use correct repo_path for "hg add"
  tox.ini
  treescript/src/treescript/gecko/android_l10n.py
  treescript/tests/test_gecko_android_l10n.py
Labels: treescript
